/* .ftChildren, .ftRowNode */

.ftChildren {
}

.ftChildren > .ftRowNode > .ftChildren {
    margin-left: 8px;
    padding-left: 2px;
    border-left: 1px solid white;
}

.ftRowNode:hover > .ftChildren {
    border-left: 1px dotted #bbb;
}


/* .ftItemRow, .ftItemRowContent, .ftInnerRow */

.ftItemRow, .ftItemRowContent, .ftInnerRow {
    display: -webkit-box;
    display: box;
    width: 100%;
}

.ftItemRow {
    -webkit-box-flex: 1.0;
    box-flex: 1.0;
    cursor: pointer;
    margin-top: 1px;
}

.ftInnerRow {
   -webkit-box-flex: 1.0;
    box-flex: 1.0;
 }

.ftItemRowContent {
    -webkit-box-flex: 1.0;
    box-flex: 1.0;
    border: 1px solid white;
    border-radius: 2px;
    padding-left: 2px;
    padding-top: 1px;
    padding-bottom: 0px;
}


/* .ftIconButton */

.ftIconButton {
    -webkit-box-flex: 0.0;
    box-flex: 0.0;
    /*border: 1px solid red;*/
    width: 16px;
    overflow: hidden;
    height: 16px;
}


/* .ftItemText, .ftItemLabel */

.ftItemText {
    -webkit-box-flex: 1.0;
    box-flex: 1.0;
    /*border: 1px solid blue;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: .5em;
    margin-right: 0.25em;
    font-family: Verdana;
    font-size: 8pt;
    padding-top: 2px;
    padding-bottom: 4px;
}

.ftItemLabel {
    font-weight: bold;
}


/* .ftButtons */

div.ftButtons {
    display: none;
    padding-right: 0.25em;
    -webkit-box-flex: 0.0;
    box-flex: 0.0;
}

.ftButtons .ftIconButton {
    -webkit-filter: grayscale(100%);
}

.ftButtons .ftIconButton:hover {
    -webkit-filter: grayscale(0%);
}


/* tooltip */

#ftTooltip, #ftSimpleTip {
    display: none;
    position: absolute;
    background: -webkit-linear-gradient(top, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 100%);
    border: 1px solid #333;
    border-radius: 3px;
    font-size: 11px;
    color: #000;
    font-size: 12px;
    font-family: 'segoe ui', 'ms sans serif', sans-serif;
    box-shadow: 2px 2px 11px #666;
}

#ftSimpleTip {
    padding: 2px 5px 4px 5px;
}

.ftBigTip td {
    vertical-align: top;
}

.ftBigTip td:nth-child(1) {
    padding: 1px 4px 0px 2px;
}

.ftBigTip td:nth-child(2) {
    padding-left: 0.5em;
}

.ftBigTipHeader {
    font-weight: bold;
    word-wrap: break-word;
}

.ftBigTipBody {
    word-wrap: break-word;
}

.ftBigTipHeader + .ftBigTipBody {
    margin-top: 0.5em;
}

.ftBigTipImage {
    width: 16px;
    height: 16px;
}


/* expanded/collapsed styles */

.collapsed > .ftChildren {
    display: none;
}

.ftNode {
    background: none;
    cursor: auto;
}

.ftExpander {
    background-image: url('../images/toggle_arrow_expanded.png');
    cursor: pointer;
}

.ftExpander:hover {
    background-image: url('../images/toggle_arrow_expanded_hover.png');
}

.collapsed > .ftItemRow > .ftExpander {
    background-image: url('../images/toggle_arrow_collapsed.png');
}

.collapsed > .ftItemRow > .ftExpander:hover {
    background-image: url('../images/toggle_arrow_collapsed_hover.png');
}



/* standard styling for focused, hovered, and selected rows */

.ftRowNode.focused > .ftItemRow > .ftItemRowContent {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c1dbfc),color-stop(1, white));
    border: 1px solid rgb(125, 162, 206);
    border-radius: 2px;
    box-shadow: 0 0 0 1px #dbeafd inset;
}

.ftRowNode > .ftItemRow > .ftItemRowContent:hover {
    background: #f2f7fe;
    border: 1px solid #b8d6fb;
    border-radius: 2px;
}

.ftRowNode.focused > .ftItemRow > .ftItemRowContent:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c1dbfc),color-stop(1, white));
    border: 1px solid rgb(85, 122, 166);
    border-radius: 2px;
    box-shadow: 0 0 0 1px #dbeafd inset;
}



/* context menus */

.ftContextMenu {
    display: none;
}


/* filter box and filtered-out rows */

.ftFilterControl {
    margin: 4px 4px 0px 0px;
}

.ftFilterControl + .ftRoot {
    margin-top: 0.25em;
}

.ftFilterInput {
    width: 100%;
    font-family: Verdana, sans-serif;
    font-size: 8pt;
}

.ftFilterStatus {
    font-style: italic;
    font-family: Verdana, sans-serif;
    font-size: 8pt;
    color: #888;
    height: 19px;
    margin-top: 4px;
    display: none;
}

.ftFiltering {
    margin-left: 0.25em;
}


.ftFiltering .ftItemRow {
    display: none;
}

.ftFiltering .ftFilteredIn > .ftItemRow {
    display: -webkit-box;
    display: box;
}

.ftFiltering .ftExpander, .ftFiltering .ftNode {
    display: none;
}

.ftFiltering .ftChildren {
    margin-left: 0px !important;
    padding-left: 0px !important;
    border-left: none !important;
}

.ftFiltering:hover .ftItemRowContent {
    /* TODO this fixes the problem of the tree contents shifting 1px right on hover,
       but blows the border away in the border-left instance or is an ugly margin hack
       in the margin-left instance; we need to figure out really WHY this shifting
       is happening and probably make it so that the non hover version of the element
       has equivalent stuffs. It's definitely a border-left ADDITION on default hover atm. */
    /*border-left: none !important;*/
    margin-left: -1px !important;
}

