html {
    height: 100%;
}

body {
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(255,255,255,1) 100%);
    background-repeat: no-repeat;
}

#top  {
    padding: 2em 0em;
}

body, input, select {
    font-family: 'Verdana', sans-serif;
    font-size: 12px;
}

#pageContainer {
    margin: 0 auto;
    width: 50em;
    padding: 1em;
    border: 3px solid rgba(30,87,153,1);
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
    border-radius: 0.5em;
    background: white;
}

#optionsContainer {
    margin-top: 2em;
}

header {
    margin-bottom: 16px;
    border-bottom: 1px solid #999;
}

@font-face {
  font-family: 'Berkshire Swash';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Berkshire_Swash.woff') format('woff');
}


h1 {
    display: inline-block;
    font-family: 'Berkshire Swash', 'Trebuchet MS', sans-serif;
    font-size: 49px;
    margin-left: 6px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

h2 {
    font-family: 'Trebuchet MS', 'Liberation Sans', 'DejaVu Sans', sans-serif;
    font-size: 22px;
    border-bottom: 1px solid #999;
    margin-top: 1em;
}

b, strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

ol {
    list-style: decimal;
    margin-left: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

blockquote {
    margin-left: 1.75em;
}

#statusBar {
    height: 2em;
    padding-top: 0.875em;
    padding-left: 0.875em;
    border: 1px solid white;
    border-radius: 4px;
    font-weight: bold;
}

#statusBar.statusOK {
    border: 1px solid #99b;
    background-color: #e7edf4;
}

#statusBar.statusError {
    border: 1px solid red;
    background-color: #fee;
}

#saveBox {
    margin-top: 4em;
    padding-top: 1em;
    border-top: 1px solid #ccc;
}

#resetButton {
    float: left;
    position: relative;
    left: -1em;
}

.hint {
    color: #666;
    font-style: italic;
}

.info {
    font-size: 12px;
    line-height: 14pt;
}

.info p {
    margin-top: 0.5em;
}

.optionsRow {
    margin: 1em 0em 0em 1em;
    vertical-align: top;
}

.optionsUnits {
    padding-left: 0.75em;
    font-style: italic;
}

.optionsLabel {
    width: 25em;
    display: inline-block;
}

.optionsInputBox {
    display: inline-block;
}

#advancedOptionsExpander {
    display: block;
    margin-top: 2.5em;
    padding-top: 1em;
    border-top: 1px solid #999;
}

#advancedOptions {
    display: none;
}

.hintIcon, .warningIcon {
    display: inline-block;
    position: relative;
    top: 2px;
    left: 0.5em;
    height: 16px;
    width: 16px;
}

.hintIcon {
    background: url('/images/help.png');
}

.warningIcon {
    background: url('/images/warning.png');
}

.optionsLabel::after {
    content: ': ';
}

input[type=checkbox]+.optionsLabel::after {
    content: none;
}

input, select {
    margin: 0;
}

input[type=checkbox] {
    margin-right: 0.5em;
    position: relative;
    top: 1px;
}

input[type=text][datatype=int] {
    width: 64px;
}

input[type=button] {
    padding: 0.25em 0.5em;
}

input.invalid {
    border-color: red;
    background-color: #fee;
}

#monitorCount {
    font-weight: bold;
}

#version, #icon {
    float: right;
}

#version {
    font-size: 10px;
    color: #999;
}

#icon {
    position: relative;
    top: -3px;
    left: -5px;
}

.tooltip {
    display: none;
    position: absolute;
    background: -webkit-linear-gradient(top, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 100%);
    border: 1px solid #333;
    border-radius: 3px;
    color: #000;
    font-size: 12px;
    font-family: 'segoe ui', 'ms sans serif', sans-serif;
    box-shadow: 2px 2px 11px #666;
    padding: 0.5em 0.75em 0.75em 0.75em;
    width: 300px;
}

.tooltip p+p {
    margin-top: 0.65em;
}

#clouds {
    position: absolute;
    width: 100%;
    overflow: hidden;
}

#clouds > div {
    position: fixed;
    height: 300px;
    width: 276px;
    background-repeat: no-repeat;
    z-index: -1000;
    left: -1000px;
    background-image: url(/images/cloud1.png);
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 90s;
}

#clouds_1 {
    top: 60px;
    -webkit-animation-name: cloud1;
    -webkit-animation-duration: 100s;
}

#clouds_2 {
    top: 120px;
    -webkit-animation-name: cloud2;
    -webkit-animation-duration: 140s;
}

#clouds_3 {
    top: 150px;
    -webkit-animation-name: cloud3;
    -webkit-animation-duration: 150s;
}

#clouds_4 {
    top: 200px;
    -webkit-animation-name: cloud4;
    -webkit-animation-duration: 120s;
}

@-webkit-keyframes cloud1 {
    from { left: 100%; }
    to { left: -20%; }
}

@-webkit-keyframes cloud2 {
    from { left: 110%; }
    to { left: -30%; }
}

@-webkit-keyframes cloud3 {
    from { left: 150%; }
    to { left: -20%; }
}

@-webkit-keyframes cloud4 {
    from { left: 120%; }
    to { left: -50%; }
}

