body {
    overflow: hidden;
}

table#main { width: 100%; height: 100%;}

table#main td { width: 1px; }

#sidebars iframe { width: 100%; height: 100%; }

td#header {
    height: 2.25em;
    -webkit-user-select: none;
    user-select: none;
}

div#headerBox {
    background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 73%);
    padding: 0.25em;
    position: fixed;
    height: 1.625em;
    width: 100%;
    border-bottom: 1px solid #222;
    overflow: hidden;
}

div#headerRight {
    float: right;
    padding-right: 0.5em;
}

ul#sidebarButtons {
    overflow: hidden;
}

ul#sidebarButtons > li {
    display: inline-block;
    margin-right: 0.25em;
    margin-bottom: 1em;
}

ul#sidebarButtons > li > div > img {
    width: 16px;
    height: 16px;
}

ul#sidebarButtons > li > div, #optionsButton {
    display: block;
    background: -webkit-linear-gradient(top, rgba(196,203,212,1) 0%,rgba(155,164,171,1) 73%);
    border-radius: 5px;
    border: 1px solid #555;
    padding-top: 0.25em;
    padding-left: 0.375em;
    padding-right: 0.375em;
    height: 1.375em;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 14px;
}

ul#sidebarButtons > li > div:hover, #optionsButton:hover {
    background: -webkit-linear-gradient(top, rgba(207,212,219,1) 0%,rgba(174,180,186,1) 73%);
}

.tooltip {
    display:none;
    background: -webkit-linear-gradient(top, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 100%);
    border:1px solid #333;
    border-radius: 3px;
    padding:2px 5px 4px 5px;
    font-size:12px;
    font-family: 'segoe ui', 'ms sans serif', sans-serif;
    -webkit-box-shadow: 2px 2px 11px #666;
}