body {
    overflow: hidden;
    font-size: 16px;
}

#main { width: 100%; height: 100%;}

#main td { width: 1px; }

#sidebars iframe { width: 100%; height: 100%; }

#header {
    height: 2.25em;
    -webkit-user-select: none;
    user-select: none;
    width: 1000%;
}

#headerBox {
    background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 73%);
    padding: 0.25em;
    position: fixed;
    height: 1.625em;
    width: 100%;
    border-bottom: 1px solid #222;
    overflow: hidden;
}

#headerRight {
    float: right;
    padding-right: 0.5em;
}

#sidebarButtons {
    overflow: hidden;
}

#sidebarButtons > li {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 1em;
}

#sidebarButtons > li > div > img, #optionsButton > img {
    width: 16px;
    height: 16px;
    margin: 3px 5px;
}

/*#sidebarButtons > li.selected > div {
    background: -webkit-linear-gradient(top, rgba(249,215,129,1) 0%,rgba(251,193,33,1) 50%,rgba(214,157,0,1) 51%,rgba(249,207,93,1) 100%);
    border-color: #444;
    border-width: 2px;
    margin: 0px;
}
*/

/*#sidebarButtons > li.selected:hover > div {
    background: -webkit-linear-gradient(top, rgba(252,234,188,1) 0%,rgba(252,206,78,1) 50%,rgba(248,182,0,1) 51%,rgba(251,223,147,1) 100%);
}
*/

#sidebarButtons > li > div, #optionsButton {
    display: block;
    background: -webkit-linear-gradient(top, rgba(196,203,212,1) 0%,rgba(155,164,171,1) 73%);
    border-radius: 5px;
    border: 1px solid #666;
    height: 22px;
    width: 26px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 14px;
    margin: 1px;
    box-shadow: -1px -1px 2px 1px rgba(0, 0, 0, 0.15) inset, 1px 1px 2px 1px rgba(255, 255, 255, 0.15) inset;
}

#sidebarButtons > li > div:hover, #optionsButton:hover {
    background: -webkit-linear-gradient(top, rgba(207,212,219,1) 0%,rgba(174,180,186,1) 73%);
}

#sidebarButtons > li.selected > div {
    background: -webkit-linear-gradient(top, rgba(217,222,229,1) 0%,rgba(184,190,196,1) 73%);
    border: 1px solid black;
}

#sidebarButtons > li.selected > div:hover {
    background: -webkit-linear-gradient(top, rgba(227,232,239,1) 0%,rgba(194,200,206,1) 73%);
}

#sidebarButtons > li.mousedown > div, #optionsButton.mousedown {
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.15) inset, -1px -1px 2px 1px rgba(255, 255, 255, 0.15) inset;
}

#sidebarButtons > li.mousedown > div > img, #optionsButton.mousedown > img {
    position: relative;
    top: 1px;
    left: 1px;
}

#optionsButtonIcon {
    height: 16px;
    width: 16px;
}

.tooltip {
    display: none;
    background: -webkit-linear-gradient(top, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 100%);
    border: 1px solid #333;
    border-radius: 3px;
    padding: 3px 5px 3px 5px;
    font-size: 12px;
    font-family: 'segoe ui', 'ms sans serif', sans-serif;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    white-space: nowrap;
}