      body {
        font-family: Verdana;
        font-size: 8pt;
        margin: 0px 0px 0px 0px;
        -webkit-user-select:none;
        overflow-x: hidden;
      }

      #outerContainer {
/*        margin-right: 1.5em;
*/        height: 99%;
      }

      #sidebarContent {
        margin-right: 2px;
      }

      div.topControls {
        margin: 4px 4px 0px 18px;
      }

      #pageFilter {
        width: 100%;
        font-family: Verdana;
        font-size: 8pt;
      }

      #sidebarContent {
          padding-left: 0px;
          padding-right: 0px;
          margin-left: 0px;
          margin-top: 0.5em;
      }

      .grouplabel {
          background: #F7D40C;
          border-bottom: 2px solid black;
          border-top: 1px solid black;
          margin: .5em 0em;
          font-weight: bold;
          padding: 0.5em 0.5em;
          overflow: hidden;
      }

      .pages {
          margin: 0px 1px 1em 1px;
          padding-left: 0em;
          list-style-type: none;
      }

      .children {
          margin: 0px;
          padding: 0px 0px 0px 10px;
      }

      .favicon {
        width: 16px;
        height: 16px;
        margin-top: 1px;
      }

      .favicon.loading {
        -webkit-animation-name: 'spin-throbber';
        -webkit-animation-iteration-count: 20;
        -webkit-animation-direction: normal;
        -webkit-animation-timing-function: linear;
        -webkit-animation-duration: 1.2s;
      }

      @-webkit-keyframes spin-throbber {
        0%   { -webkit-transform: rotate(0deg); }
        100%  { -webkit-transform: rotate(360deg); }
      }

      .favicon.preload {
        -webkit-animation-name: 'spin-throbber-preload';
        -webkit-animation-iteration-count: 10;
        -webkit-animation-direction: opposite;
        -webkit-animation-timing-function: linear;
        -webkit-animation-duration: 2.4s;
      }

      @-webkit-keyframes spin-throbber-preload {
        0%   { -webkit-transform: rotate(360deg); }
        100%  { -webkit-transform: rotate(0deg); }
      }

      .pageRow {
        list-style-type: none;
      }

      .pageRow > .innerRow {
        display: block;
        /*height: 16px;*/
        padding-bottom: 2px;
        padding-left: 2px;
        overflow: hidden;
        white-space: nowrap;
        border: 1px solid white;
        cursor: default;
        height: 19px;
      }

      .pageRow > .innerRow:hover {
        background: #f2f7fe;
        border: 1px solid #b8d6fb;
        border-radius:2px;
      }

      #sidebarContent:not(.multiselecting) .pageRow.focused > .innerRow,
      .pageRow.selected > .innerRow {
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c1dbfc),color-stop(1, white));
        border: 1px solid rgb(125, 162, 206);
        border-radius:2px;
        box-shadow: 0 0 0 1px #dbeafd inset;
      }

      #sidebarContent.multiselecting .pageRow.focused:not(.selected) > .innerRow {
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f1fbff),color-stop(1, white));
        border: 1px solid rgb(165, 202, 246);
        border-radius:2px;
        box-shadow: 0 0 0 1px #dbeafd inset;
      }

      #sidebarContent.multiselecting .pageRow.focused.selected > .innerRow {
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #a1bbdc),color-stop(1, white));
        border: 1px solid rgb(125, 162, 206);
        border-radius:2px;
        box-shadow: 0 0 0 1px #dbeafd inset;
      }

      .pageRow.unread > .innerRow .pageTitle {
        color: blue;
      }

      .pageTitle {
        vertical-align: top;
        padding-top: 2px;
        padding-left: 0.5em;
        display: inline-block;
      }
/*
      .pageTitle > .titleText {
      }

      li.pageRow > div.innerRow > div.pageTitle > span.urlText {
        display: none;
      }

      li.pageRow.focused > div.innerRow > div.pageTitle > span.urlText {
        display: inline;
        padding-left: 1.25em;
        color: #999;
      }
*/
      ul.collapsed {
        /* visibility proerties handled by jQuery .animate() & friends via inline CSS */
      }

      .treeDropDown, .treeNode {
        float: left;
        width: 16px;
        height: 16px;
        margin-top: 2px;
      }

      .treeDropDown {
        background-image: url('/images/toggle_arrow_expanded.png');
      }

      .treeDropDown.collapsed {
        background-image: url('/images/toggle_arrow_collapsed.png');
      }

      .treeNode {
        /*background-image: url('/images/node.png');*/
      }

      .closeButton {
        float: right;
        display: none;
        width: 16px;
        height: 16px;
      }

      .pageRow > .innerRow:hover > .closeButton {
        display: block;
        background-image: url('/images/close.png');
        position: relative;
        top: 2px;
      }

      #pageFilterStatus {
        font-style: italic;
        color: #888;
        height: 19px;
        margin-top: 4px;
      }

      #sidebarContent.filtered {
        padding-left: 16px;
      }

      .filtered .treeNode, .filtered .treeDropDown {
        display: none;
      }

      .filtered .children {
        padding: 0px;
      }

      .filtered .pageRow > .innerRow {
        display: none;
      }

      .filtered .pageRow.filterMatch > .innerRow {
        display: block;
      }

      .contextMenu {
        position: absolute;
        width: 120px;
        z-index: 99999;
        border: solid 1px #888;
        background: #EEE;
        padding: 2px;
        margin: 0px;
        display: none;
        box-shadow: 3px 3px 6px #999;
        cursor: default;
      }

      .contextMenu LI {
        list-style: none;
        padding: 0px;
        margin: 0px;
      }

      .contextMenu A {
        color: #111;
        text-decoration: none;
        display: block;
        line-height: 20px;
        height: 20px;
        background-position: 6px center;
        background-repeat: no-repeat;
        outline: none;
        padding: 1px 5px;
        padding-left: 28px;
      }

      .contextMenu LI:hover A {
        color: #FFF;
        background-color: #3399FF;
      }

      .contextMenu LI.disabled A {
        color: #AAA;
        cursor: default;
      }

      .contextMenu LI:hover.disabled A {
        background-color: transparent;
      }

      .contextMenu LI.separator {
        border-top: solid 1px #888;
        margin-top: 2px;
        padding-top: 4px;
      }

      .contextMenu LI.close A { background-image: url(/images/close.png); }
      .contextMenu LI.reload A { background-image: url(/images/reload.png); }


      .pageRow.dragToNext {
        background-image: none !important;
        border-bottom: 3px solid black;
        padding-bottom: 3px;
        margin-bottom: 3px;
      }

      .pageRow.dragToChild > .innerRow {
        background-image: none !important;
        /*background: #fcffc6;*/
        padding-bottom: 1px;
        border-bottom: 3px solid black !important;
        margin-bottom: 8px;
      }

      .dragOver {
      }

      .dragHelper {
        background: blue;
        border: 1px solid black;
        color: yellow;
        font-family: Verdana;
        font-weight: bold;
        font-size: 11px;
        padding: 4px;
      }