header {
    height: 70px;
}

footer.debugEnabled {
    height: 20px;
}

section#main {
    top: 70px;
    bottom: 0px;
}

section#main.debugEnabled {
    top: 70px;
    bottom: 20px;
}

.ftItemTextAffix {
    font-style: italic;
    color: green;
}

.ftRoot > .ftChildren > .ftRowNode > .ftItemRow > .ftNode,
.ftRowNode[rowtype=header] > .ftChildren > .ftRowNode > .ftItemRow > .ftNode {
    width: 0px;
    margin-right: 2px;
}