body {
    -webkit-user-select: none;
    user-select: none;
    /*font-size: 10px;*/
    overflow: hidden;
}

header {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 30px;
    overflow: hidden;
}

footer.debugEnabled {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 20px;
    overflow: hidden;
    background: hsl(60, 80%, 80%);
}

footer:not(.debugEnabled) {
    display: none;
}

section#main.debugEnabled {
    position: absolute;
    top: 30px;
    bottom: 20px;
    width: 100%;
    overflow: auto;
}

section#main:not(.debugEnabled) {
    position: absolute;
    top: 30px;
    bottom: 0px;
    width: 100%;
    overflow: auto;
}

#debugLinks {
    font-family: Verdana, sans-serif;
    border-top: 1px solid black;
    /*padding: 0.5em 0.5em 0em 0.5em;*/
    /*box-shadow: 2px 2px 11px #666;*/
    text-align: center;
}

#debugLinks span {
    padding: 1px;
    color: black;
    text-decoration: none;
    clear: none;
    font-size: 11px;

}

#debugLinks span+span:before {
    content: '  ';
}

#debugLinks span:hover {
    background: hsl(50, 100%, 90%);
    outline: 1px solid hsl(50, 100%, 20%);
    cursor: pointer;
}


/* window tree rows */

.ftRowNode[rowtype=window] > .ftItemRow {
    background: #ffc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 3px;
    padding-bottom: 1px;
}

.ftRowNode[rowtype=window][hibernated=true] > .ftItemRow {
    background: #ddd;
}

.ftRowNode[rowtype=window][hibernated=true] > .ftItemRow:hover {
    background: #e2e2e2;
}

.ftRowNode[rowtype=window] > .ftItemRow .ftItemTitle {
    font-style: italic;
}

.ftRowNode[rowtype=window] > .ftItemRow > .ftItemRowContent {
    border: none;
    padding-left: 3px;
}

.ftRowNode[rowtype=window] > .ftItemRow:hover {
    background: #ffb;
}

.ftRowNode[rowtype=window] > .ftItemRow:hover > .ftItemRowContent {
    background: inherit;
    border: none;
    border-radius: 0;
}

.ftRowNode[rowtype=window] > .ftChildren {
    margin-top: 2px;
    margin-left: -3px;
}

.ftRowNode[rowtype=window] > .ftChildren:hover {
    border-left: none;
    margin-left: -2px;
}

.ftRowNode[rowtype=window]+.ftRowNode[rowtype=window] {
    margin-top: 12px;
}

.ftFiltering .ftRowNode[rowtype=window]+.ftRowNode[rowtype=window] {
    margin-top: 0em;
}

.ftRowNode[rowtype=window] > .ftItemRow > .ftExpander {
    position: relative;
    top: -1px;
}

.ftDragToChild[rowtype=window] > .ftItemRow > .ftItemRowContent {
    border-width: 0px !important;
    outline: 2px solid blue;
}

#ftDragInsertBar[targetrowtype=window] {
    margin-top: 2px;
}


/* page tree row states */

.ftRowNode[rowtype=page][unread=true] > .ftItemRow {
    color: blue;
}

.ftRowNode[rowtype=page].closing > .ftItemRow {
    text-decoration: line-through;
}

.ftRowNode[rowtype=page][hibernated=true] > .ftItemRow > .ftItemRowContent {
    color: gray;
}

.ftRowNode[rowtype=page][highlighted=true]:not(.ftFocused):not(.ftSelected) > .ftItemRow > .ftItemRowContent {
    background: hsl(55, 90%, 70%);
}

.ftRowNode[rowtype=page][highlighted=true]:not(.ftFocused):not(.ftSelected) > .ftItemRow:hover > .ftItemRowContent {
    background: hsl(55, 100%, 73%);
    border: 1px solid hsl(55, 90%, 48%);
}

.ftRowNode[rowtype=page][highlighted=true].ftFocused > .ftItemRow > .ftItemRowContent,
.ftRowNode[rowtype=page][highlighted=true].ftSelected > .ftItemRow > .ftItemRowContent {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, hsl(55, 90%, 55%)),color-stop(1, white));
    border: 1px solid hsl(55, 90%, 35%);
}

.ftRowNode[rowtype=page][highlighted=true].ftFocused > .ftItemRow:hover > .ftItemRowContent,
.ftRowNode[rowtype=page][highlighted=true].ftSelected > .ftItemRow:hover > .ftItemRowContent {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, hsl(55, 90%, 49%)),color-stop(1, white));
    border: 1px solid hsl(55, 90%, 25%);
}

.ftRowNode[rowtype=page][highlighted=true].ftFocused.ftSelected > .ftItemRow > .ftItemRowContent {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, hsl(55, 100%, 42%)),color-stop(1, white));
    border: 1px solid hsl(55, 90%, 0%);
}

.ftRowNode[rowtype=page][highlighted=true].ftFocused.ftSelected > .ftItemRow:hover > .ftItemRowContent {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, hsl(55, 100%, 39%)),color-stop(1, white));
    border: 1px solid hsl(55, 90%, 0%);
}

.ftMultiselecting .ftFocused[rowtype=page][highlighted=true]:not(.ftSelected) > .ftItemRow > .ftItemRowContent {
    background: hsl(55, 90%, 90%);
    border: 1px dashed rgb(0, 0, 0);
}

.ftRowNode[rowtype=page].ftCollapsed > .ftItemRow .ftItemTitle {
    font-style: italic;
}

.ftRowNode[rowtype=page][hibernated=true] > .ftItemRow > .ftItemRowContent > .ftInnerRow > .ftRowIcon {
    -webkit-filter: grayscale(100%);
}

.ftRoot:not(.ftMultiselecting) .ftRowNode[rowtype=page][hibernated=true].ftFocused > .ftItemRow > .ftItemRowContent {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dadada),color-stop(1, white));
    border: 1px dotted rgb(40, 40, 40);
}

.ftRoot:not(.ftMultiselecting) .ftRowNode[rowtype=page][hibernated=true].ftFocused > .ftItemRow:hover > .ftItemRowContent {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cacaca),color-stop(1, white));
    border: 1px dotted rgb(0, 0, 0);
}


/* tooltip styling */

#ftTooltip[rowtype=page] .ftBigTip {
    margin: 10px 8px 10px 8px;
}

#ftTooltip[rowtype=page] .ftBigTipBody {
    font-family: Consolas, "Lucida Console", monospace;
    font-size: 8pt;
}

#ftTooltip[rowtype=page] .ftBigTipHeader {
}

#ftTooltip[rowtype=page] td:first-child {
    /*background: -webkit-linear-gradient(top, rgba(156,180,208,0.66) 0%,rgba(208,223,234,0) 100%);*/
    border-right: 1px solid #ccc;
}

#ftTooltip[rowtype=window] .ftBigTip {
    margin: 0.25em 0.75em 0.25em 0.25em;
}

#ftTooltip[rowtype=window] .ftBigTipImage {
    height: 32px;
    width: 32px;
}

#ftTooltip[rowtype=window] td {
    vertical-align: middle;
}

.hibernatedHint {
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0.5em;
}


/* page icon status effects */

.ftRowNode[rowtype=page][status=loading] > .ftItemRow > .ftItemRowContent > .ftInnerRow > .ftRowIcon {
    -webkit-animation-name: 'spin-throbber';
    -webkit-animation-iteration-count: 30;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 1.2s;
}

@-webkit-keyframes spin-throbber {
    0%   { -webkit-transform: rotate(0deg); }
    100%  { -webkit-transform: rotate(360deg); }
}

.ftRowNode[rowtype=page][status=preload] > .ftItemRow > .ftItemRowContent > .ftInnerRow > .ftRowIcon {
    -webkit-animation-name: 'spin-throbber-preload';
    -webkit-animation-iteration-count: 10;
    -webkit-animation-direction: opposite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 2.4s;
}

@-webkit-keyframes spin-throbber-preload {
    0%   { -webkit-transform: rotate(360deg); }
    100%  { -webkit-transform: rotate(0deg); }
}

.pinned {
    padding-left: 3px;
}

.pinned:hover {
    padding-left: 3px;
    background-color: hsl(55, 80%, 80%);
}

.pinned+.ftItemText {
    margin-left: 2px;
}