header {
    height: 70px;
}

footer.debugEnabled {
    height: 20px;
}

section#main {
    top: 70px;
    bottom: 0px;
}

section#main.debugEnabled {
    top: 70px;
    bottom: 20px;
}

.ftItemRowContent {
    margin-left: 3px;
}

.ftItemTextAffix {
    font-style: italic;
    color: green;
}


/*.ftRoot > .ftChildren > .ftRowNode > .ftItemRow > .ftNode,
.ftRowNode[rowtype=header] > .ftChildren > .ftRowNode > .ftItemRow > .ftNode,
.ftRoot > .ftChildren > .ftRowNode > .ftItemRow > .ftExpander,
.ftRowNode[rowtype=header] > .ftChildren > .ftRowNode > .ftItemRow > .ftExpander
{
    width: 0px;
    margin-right: 2px;
}

.ftChildren .ftRowNode .ftChildren .ftRowNode .ftChildren
{
    margin-left: -7px;
}*/

.ftNode, .ftExpander {
    position: relative;
    left: 21px;
    margin-left: -16px;
    opacity: 0.0;
}

.ftExpander:hover {
    opacity: 1.0;
}

.ftRowNode.ftCollapsed > .ftItemRow > .ftExpander + .ftItemRowContent > .ftInnerRow > .ftRowIcon {
    opacity: 0.25;
}

.ftExpander:hover + .ftItemRowContent > .ftInnerRow > .ftRowIcon {
    visibility: hidden;
}

 .ftExpander + .ftItemRowContent > .ftInnerRow > .ftRowIcon:hover {
    visibility: hidden;
}

/*.ftExpander + .ftItemRowContent > .ftInnerRow > .ftRowIcon {
    visibility: hidden !important;
    opacity: 0.0;
    z-index: -255;
}
*/
.ftRowIcon {
    opacity: 1.0;
}

.ftRowNode.ftCollapsed > .ftItemRow > .ftExpander {
    opacity: 1.0;
}

.ftRowNode.ftCollapsed > .ftItemRow:hover > .ftExpander {
    opacity: 1.0;
}

/*.ftRowNode.ftCollapsed > .ftItemRow:hover > .ftItemRowContent > .ftInnerRow > .ftRowIcon {
    visibility: hidden;
}
*/