
body {
    width: 100%;
}

#contentFrame {
    width: 100%;
    height: 100%;
}

#loadingHint {
    display: none;
    position: fixed;
    z-index: -1000;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    margin: 2em 1em 0em 1em;
    padding-left: 1.5em;
    background-image: url('/images/throbber-slow.gif');
    background-repeat: no-repeat;
    font-style: italic;
}

#loadingURL {
    font-size: 10pt;
    font-family: monospace;
    font-style: normal;
    color: blue;
    margin-top: 0.5em;
}

#loadingError {
    font-size: 10pt;
    font-style: normal;
    font-weight: bold;
    color: red;
    margin-top: 1.5em;
}
